fastapi==0.95.2
uvicorn[standard]==0.22.0
sentence-transformers==2.2.2
tokenizers==0.13.3
torch==2.2.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
transformers==4.31.0
pandas
numpy
requests
beautifulsoup4
streamlit
requests


